@import "../main.scss";

$theme-colors: (
	"bg-dark": $primary-color-dark,
	"dark": $primary-color-dark
);

.nav-link {
	text-decoration: none;
	color: $primary-color-light;

	&:hover {
		color: $accent-color !important;
		text-decoration: none;
	}
}

@import "~bootstrap/scss/bootstrap";
