@import "../main.scss";

.alert {
	margin-top: 20px;
}

.btn {
	background-color: $primary-color-dark;

	img {
		height: 1em;
		margin: 2px;
		margin-right: 5px;
	}

	&:hover {
		color: $accent-color;
	}
}
