@import "../main.scss";

.alert {
	margin-top: 20px;
}

.btn {
	background-color: $primary-color-dark;

	img {
		height: 1em;
		margin: 2px;
		margin-right: 5px;
	}

	&:hover {
		color: $accent-color;
	}
}

.resumeNote {
	color: lighten($primary-color-dark, 30%);
	font-size: 0.9em;
	font-style: italic;
}

.bottom-bar {
	border-bottom: 4px solid $accent-color;
}
